@media screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .items {
        width: 90%;
        padding: 0;
        margin: auto;
    }

    .hero {
        display: flex;
        flex-direction: row;
        margin: 5rem 0 5rem 0;
        picture {
            position: absolute;
            right: -350px;
            top: -70px;
            z-index: -99;

            img {
                min-width: 45rem;
                padding-top: 0;
            }
        }

        .titleAndDescription {
            width: 50%;
        }
    }

    .gridCourses {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 3rem;
        margin-bottom: 5rem;

        & > * {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
        }
    }

    .footer {
        padding-left: calc(5% + 2rem);
        padding-right: calc(5% + 2rem);
    }
}

@media screen and (min-width: 1000px) {
    .hero {
        margin: 10rem 0 10rem 0;
    }

    .gridCourses {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50% 50%;

        .courses {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        picture {
            right: -450px;
            top: -100px;
        }
    }

    .titleAndDescription {

        .title {
            font-size: 4.5em;
        }

        .description {
            font-size: 1.5em;
            line-height: 1.5;
        }
    }
}

@media screen and (min-width: 1600px) {
    picture {
        display: none;
    }

    .items {
        width: 60%;
    }

    .hero {
        margin: 15rem 0 15rem 0;
    }

    .heroImageDesktop {
        display: block;
        position: absolute;
        top: -100px;
        right: -100px;
        padding: 30rem;
        background-image: url(../assets/image-hero-desktop.png);
        background-position: left top;
        background-size: 120%;
        background-repeat: no-repeat;
        z-index: -99;
    }

    .gridCourses {
        align-self: center;
        justify-self: center;
        row-gap: 3rem;
        column-gap: 2rem;
        

        .checkOut {
            font-size: 2.5rem;
        }

        .course {
            justify-content: space-around;
        }

        & > * {
            height: 400px;
        }
    }

    .footer {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (min-width: 2100px) {
    .heroImageDesktop {
        top: -150px;
        right: 0px;
        padding: 35rem;
        background-size: cover;
    }
}