@media screen and (min-width: 768px) {
    picture {
        position: absolute;
        right: -50%;
        top: -150px;
        z-index: -99;
    }

    .items {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .hero {
        flex-direction: row;
        position: relative;

        .titleAndDescription {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 50rem;
            padding-top: 8rem;
            padding-bottom: 5rem;
            gap: 1rem;
            max-width: 65%;
            
            .getStartedHero {
                max-width: 15rem;
            }
        }

        .description {
            font-size: 18px;
            line-height: 1.5;
        }
    }

    .gridCourses {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 3rem;
        column-gap: 1rem;
        margin-top: 10rem;

        & > * {
            box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.11);
        }
        

        .course {
            margin: 0;
            padding: 3rem;
            gap: 3rem;

            .courseDescription {
                line-height: 1.75;
            }
        }

        .checkOut {
            padding-top: 5rem;
        }
    }
}

@media screen and (min-width: 900px) {
    picture {
        right: -45%;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titleAndDescription {
        max-width: 50%;
    }

    .hero .description {
        font-size: 24px;
    }

}

@media screen and (min-width: 1200px) {
    picture {
      top: -300px;
    }

    .items {
        align-self: center;
        justify-self: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .hero {
        .titleAndDescription {
            max-width: 50vw;
        }


        .description {
            font-weight: 500;
        }
    }

    .gridCourses {
        justify-content: center;
        align-self: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 10rem;

        & > * {
           width: 35rem;
        }

    }

    
}

@media screen and (min-width: 1600px) {

    .hero {
        .titleAndDescription {
            max-width: 50rem;
        }
    }

}