* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #FFFFFF, #edeeff);
}

h1 {
  align-self: center;
  font-weight: 900;
  color: #13183F;
}

button {
  border-radius: 2.5rem;
  border-style: none;
  color: #FFFFFF;
  font-size: 1.25em;
  font-weight: 600;
}
button:hover {
  cursor: pointer;
  opacity: 0.75;
}
button:active {
  opacity: 0.9;
}

picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
picture img {
  min-width: 35rem;
  height: auto;
}

.heroImageDesktop {
  display: none;
}

.items {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.getStartedHeader {
  background-color: #13183F;
  padding: 1em 2em 1em 2em;
}

.hero {
  display: flex;
  flex-direction: column;
}
.hero .title {
  font-size: 56px;
}
.hero .description {
  font-size: 18px;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #83869A;
}
.hero .getStartedHero {
  padding: 1.2em 2.5em 1.2em 2.5em;
  text-align: center;
  background: linear-gradient(to top, #F02AA6, #FF6F48);
}
.gridCourses {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 3rem;
}
.gridCourses > * {
  /* height: 16rem; */
}
.gridCourses .checkOut {
  padding: 1.5em 1em 1.5em 1em;
  background: linear-gradient(to top, #F02AA6, #FF6F48);
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}
.gridCourses .course {
  color: #13183F;
  background-color: #FFFFFF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 2rem 1rem 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  position: relative;
}
.gridCourses .course .courseImage {
  position: absolute;
  max-width: 6rem;
  top: -28px;
}
.gridCourses .course .courseTitle {
  font-size: 1.6rem;
  font-weight: 900;
  padding-top: 1.5rem;
}
.gridCourses .course .courseDescription {
  color: #83869A;
  line-height: 1.5em;
  font-size: 1.3em;
}
.gridCourses .course button {
  text-align: start;
  background-color: #FFFFFF;
  color: #F74780;
  font-size: 1.6rem;
  font-weight: 900;
  padding-bottom: 1.5rem;
}

.footer {
  background-color: #13183F;
  padding: 3rem 2rem 3rem 2rem;
  width: 100%;
  height: 100%;
  padding-left: calc(5% + 2rem);
  padding-right: calc(5% + 2rem);
  display: flex;
  justify-content: space-between;
}
.footer .nameFooter {
  color: #FFFFFF;
}
.footer .getStartedFooter {
  padding: 1em 2em 1em 2em;
  background: linear-gradient(to bottom, #4851FF, #F02AA6);
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .items {
    width: 90%;
    padding: 0;
    margin: auto;
  }
  .hero {
    display: flex;
    flex-direction: row;
    margin: 5rem 0 5rem 0;
  }
  .hero picture {
    position: absolute;
    right: -350px;
    top: -70px;
    z-index: -99;
  }
  .hero picture img {
    min-width: 45rem;
  }
  .hero .titleAndDescription {
    width: 50%;
  }
  .gridCourses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    row-gap: 3rem;
    margin-bottom: 5rem;
  }
  .gridCourses > * {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .hero {
    margin: 10rem 0 10rem 0;
  }
  .gridCourses {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
  }
  .gridCourses .courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero picture {
    right: -450px;
    top: -100px;
  }
  .titleAndDescription .title {
    font-size: 4.5em;
  }
  .titleAndDescription .description {
    font-size: 1.5em;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1600px) {
  picture {
    display: none;
  }
  .items {
    width: 60%;
  }
  .hero {
    margin: 15rem 0 15rem 0;
  }
  .heroImageDesktop {
    display: block;
    position: absolute;
    top: -100px;
    right: -100px;
    padding: 30rem;
    background-image: url(../assets/image-hero-desktop.png);
    background-position: left top;
    background-size: 120%;
    background-repeat: no-repeat;
    z-index: -99;
  }
  .gridCourses {
    align-self: center;
    justify-self: center;
    row-gap: 3rem;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .gridCourses .checkOut {
    font-size: 2.5rem;
  }
  .gridCourses .course {
    justify-content: space-around;
  }
  .gridCourses > * {
    height: 400px;
  }
  .footer {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media screen and (min-width: 2100px) {
  .heroImageDesktop {
    top: -150px;
    right: 0px;
    padding: 35rem;
    background-size: cover;
  }
}/*# sourceMappingURL=style.css.map */