$clearBlue: #666CA3;
$darkBlue: #13183F;
$gray: #83869A;
$pink: #F74780;
$lightPink: #FFA7C3;
$white: #FFFFFF;
$gradientOrangePink: linear-gradient(to top, #F02AA6, #FF6F48);
$gradientBluePink: linear-gradient(to bottom, #4851FF, #F02AA6);